body {
  margin: 0;
  font-family: var(--hot-font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.title {
  font-weight: var(--hot-font-weight-light);
}

p.body {
  font-weight: var(--hot-font-weight-medium);
}

pre {
  font-family: var(--hot-font-mono);
}
