.maps {
    display: flex;
    width: 100%;
    height: 100%;
}

.map { 
    height: 100%; 
    width: 100%;
}

.mapContainer { 
    border-radius: 10px;
}

.map:first-child .mapWrapper { 
    margin-right: 2px;
}
.map:last-child .mapWrapper { 
    margin-left: 2px;
}

.selectSource {
    margin-top: var(--hot-spacing-x-small);
}

.selectSource {
    padding-right: 2px;
    padding-left: 2px;
}

